body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    background-color: #3b3b98;
}

.container {
    background-color: #23235b;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    text-align: center;
    padding: 30px;
}

div {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#psw {
    background-color: #151537;
    border: none;
    width: 85%;
    height: 40px;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}

#copyBtn{
    position: relative;
    top: 0;
    right: 0px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: #3b3b98;
    border: none;
}

#length {
    width: 50px;
    /* padding: 10px; */
}

#generate {
    font-size: 20px;
    background-color: #3b3b98;
    color: white;
    border: none;
    display: block;
    padding: 10px;
    cursor: pointer;
}

span {
    width: 35px;
    font-size: 20px;
}